* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#adoption-form-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: pink;
  overflow: hidden;
}

.adoption-form {
  padding: 20px 10px 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 80%;
  height: 100%;
  border-radius: 25px;
  box-shadow: 0px 10px 10px black;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  z-index: 1;
}

.adoption-form-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border-radius: 25px;
  box-shadow: 0px 10px 10px black;
  background-color: rgba(127, 255, 212, 0.471);
}

.adoption-form h2 {
  font-family: monospace;
  margin-bottom: 2em;
}

.adoption-form input {
  margin-bottom: 10px;
  outline: 0;
  border: 2px solid black;
  padding: 10px 7px 10px 7px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.23);
}

.adoption-form input:focus {
  border: 2px solid blue;
  background-color: white;
}

.image-adoption-slider-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  margin-top: 20px;
  z-index: 1;
}

label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.image-container {
  overflow: hidden;
  height: 50%;
  width: 50%;
  background-color: red;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.right-slider,
.left-slider {
  cursor: pointer;
}

.right-slider img,
.left-slider img {
  width: 50px;
  height: 50px;
}

.status-input,
.history-input,
.address-input {
  display: flex;
  flex-direction: column;
}

.status-input label,
.history-input label {
  display: flex;
}

.status-history label p {
  font-size: 15px;
}

.phone-email,
.company-social,
.status-history,
.relationship-phone,
.birthdate-occupation {
  display: flex;
  justify-content: space-around;
}

.birthdate-occupation {
  justify-content: space-between;
}

.birthdate-input input {
  padding-left: 30px;
  padding-right: 30px;
}

.button button,
.button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button button {
  display: flex;
  font-size: 20px;
  border-radius: 15px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.submitted-modal {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.397);
  width: 100%;
  height: 120%;
  display: none;
  justify-content: center;
}

.modal {
  gap: 10px;
  background-color: white;
  border-radius: 30px;
  width: 30%;
  height: 300px;
  display: flex;
  position: relative;
  top: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 20px black;
}

.modal img {
  width: 100px;
  height: 100px;
}

.paw {
  width: 80px;
  height: 80px;
  z-index: -1;
}

.paws-image-background-1 {
  position: relative;
  right: 10px;
}

.paws-image-background-2 {
  position: relative;
  left: 450px;
}
.paws-image-background-3 {
  position: relative;
  right: 5px;
  top: 78%;
}
.paws-image-background-4 {
  position: relative;
  left: 450px;
  top: 78%;
}

.main-background-container {
  background-color: pinc;
  width: 100%;
  position: absolute;
  height: 100%;
}

.sticker {
  width: 300px;
  height: 300px;
  position: relative;
}

.sticker-1 {
  left: 85%;
  top: 70%;
  animation: stickerMoves-1 5s ease-in-out infinite;
}

.sticker-2 {
  left: 38%;
  top: 20%;
  animation: stickerMoves-2 3s ease-in-out infinite;
}

.sticker-3 {
  right: 45%;
  top: 70%;
}

@keyframes stickerMoves-1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes stickerMoves-2 {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

@media (max-width: 1200px) {
  #adoption-form-container {
    display: flex;
    height: 100%;
  }
  .phone-email,
  .birthdate-occupation,
  .company-social,
  .status-history,
  .relationship-phone {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .status-input,
  .history-input,
  .phone input,
  .email input,
  .company input,
  .social input,
  .relationshipInput,
  .birthdayInput,
  .occupationInput {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .adoption-form {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }
  .birthdayInput {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .status-input input,
  .history-input input {
    display: flex;
    width: 100%;
    background-color: red;
    justify-content: space-between;
    margin-left: 20px;
  }
  .adoption-form {
    border: 0px;
  }
  .adoption-form-background {
    width: 70%;
    border: 1px solid black;
    overflow: hidden;
    margin-bottom: 200px;
  }

  .paws-image-background-2, .paws-image-background-4 {
    position: relative;
    left: 580px;
  }
}
