* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#mainContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #B0D0D3;
}

.first-section {
  position: relative;
  width: 100%;
  background-image: url(https://hips.hearstapps.com/hmg-prod/images/dog-walking-outside-with-owner-1556094638.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 95vh;
}

.second-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 20px 80px;
}

.header-second-section {
  font-size: 36px;
  margin-bottom: 5px;
}

.subheading-second-section {
  display: flex;
  font-size: 30px;
  justify-content: center;
  margin-bottom: 10px;
}

.intro-second-section {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px 80px;
  word-spacing: 2px;
  line-height: 1.4;
}

.button-second-section {
  display: flex;
  justify-content: center;
}

.button-entry-second-section {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #ff5c5c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.604);
  position: relative;
  text-decoration: none;
}

.button-entry-second-section:hover {
  transform: translateY(-4px);
}

.button-entry-second-section:active {
  transform: translateY(2px);
}



@media (max-width: 550px) {
  .second-section {
    padding: 10px 10px;
  }
  .header-second-section {
    font-size: 25px;
  }
  .subheading-second-section {
    font-size: 20px;
  }
  .intro-second-section {
    font-size: 15px;
    padding: 10px 10px;
  }
}
